.profile {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

@media screen and (max-width:560px) {
  .profile {
    flex-direction: column;
    padding-top: 38.25px;
    justify-content: flex-start;
    gap: 36px 0;
  }
}
